@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: peru;
}

div {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    height: 99vh;
    width: 100%;
    color: white;
}

div h3 a {
    color: greenyellow;
}
