@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: peru;
    /* background-color: black; */
}

input[type=text] {
    width: 60%;
    height: 1.5rem;
    font-size: 1rem;
    border: 4px dashed greenyellow;
    border-radius: 4px;
    font-family: 'Press Start 2P', cursive;
}

button#submit-score,
button#high-scores {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: 'Press Start 2P', cursive;
}

button#submit-score {
    background-color: green;
}

button#high-scores {
    background-color: yellow;
}

div.game-over {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    height: 99vh;
    width: 100%;
    color: lightgray;
}


a {
    color: rgb(42, 150, 108);
}

div div h4 {
    color: rgb(173, 53, 53);
}

div.scores {
    display: none;
    /* display: block; */
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
}

div.scores h1 {
    text-decoration: underline;
}

div.scores div {
    display: flex;
    justify-content: center;
}

div.scores div h3 {
    margin: 1rem;
}
